name: "BLE integration"
version: "0.0.7"
slug: "ble_integration"
description: "This Home Assistant add-on listens to MQTT messages and automatically handles
  ZP2 firmware checks, OTA updates, and MQTT Discovery for ZP2 devices.
  It enables seamless integration of ZP2 device data into Home Assistant."
startup: "services"
boot: "auto"
arch:
  - aarch64
  - amd64
  - armv7
init: false
host_dbus: true

homeassistant_api: true

map:
  - share:rw

options:

  mqtt_username: "test"
  mqtt_password: "test"

schema:
  mqtt_username: str?
  mqtt_password: str?
  # ota_ip: str

  
